.carousel-item {
    height: 35vh;
    min-height: 350px;
    background: no-repeat cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    img{
        height: 100%;
        cursor: pointer;
    }

    .carousel-caption {
        bottom: 20px;
    }
}