@import "~bootstrap/scss/bootstrap";

.App {
    background-color: #1e242b;
    color: cornsilk;
    min-height: 100vh;
}

// from https://css-tricks.com/examples/hrs/
hr {
    border: 0;
    height: 3px !important;
    background-image:
    linear-gradient(to right, rgba(230, 215, 215, 0), rgba(230, 215, 215, 0.75), rgba(230, 215, 215, 0));
}